<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Singleton"
        android:allowBackup="true"
        android:icon="@drawable/ic_attention_unchecked"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_like_unchecked"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".WebtoonComment.WebtoonCommentActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""></activity>
        <activity android:name=".MemberInformation.MemberInformationActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""/>
        <activity android:name=".SignUp.SignUpActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""/>

        <activity android:name=".Login.LoginActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity="" />
        <activity
            android:name=".SplashActivity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            />
        <activity
            android:name=".WebtoonSearch.WebtoonSearchActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:parentActivityName=".Main.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".WebtoonContentsList.WebtoonContentsListActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:parentActivityName=".Main.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".WebtoonViewer.WebtoonViewerActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:parentActivityName=".WebtoonContentsList.WebtoonContentsListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WebtoonContentsList.WebtoonContentsListActivity" />
        </activity>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>